/* css incial */
html{
    height: 100%;
}
.container{
    margin:0 auto;
    padding:0;
    border-bottom: #04A9DE 1px solid ;
    display: grid;
    grid-template-rows: 85% auto;
}

#appmoove{
    width: 30%;
}

.header-title{
    display: flex;
    justify-content: space-between;
}

.header-container{
    width: 100%;
	background-color: transparent;
	position: relative;
	width: auto;
    height: auto;
    image-rendering: auto;
}

p.nome-candidato{
	text-align: right;
	font-size:15px;
	width: auto;
	height: auto;
}

div.search-bar{
	margin: 2%;
    text-align: center;
    width: 100%;
}

input[type=text] {
    width: 630px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
div.movie-container{
    color: #04A9DE;
    font: 15px;
    margin: 2%;
    width: 32%;
    height: 90%;
    text-align: center;
    border: #04A9DE;
    border-style: solid;
    border-width: 1px;
}

#latest0{
    margin-top: 10px;
    width: 90%;
    height: 70%;
}
#latest1{
    margin-top: 10px;
    width: 90%;
    height: 70%;
}
#latest2{
    margin-top: 10px;
    width: 90%;
    height: 70%;
}

div.lancamentos{
    text-align: center;
    height: 280px;
    width: 70%;
    margin: 0 auto;
    border: #04A9DE;
    border-style: solid;
    border-width: 3%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

div.tabela{
    margin: 0 auto;
    width: 80%;
}

table{
    width: 100%;
    margin: 0 auto;
}

th{
    color: white;
    text-align: left;
    background-color: #04A9DE;
    padding-left: 0.5em;
}

td{
    border: #04A9DE 1px solid;
    color: darkslategray;
    padding-left: 0.5em;
    height: 1.5em;
}

h2{
	font-size: 0 auto;
	color: #04A9DE;
    text-align: center;
}